body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 75%;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 25%;
}
header, article, section, .module {
  padding: 1rem;
}
main {
  display: flex;
  flex-wrap: wrap;
}
header {
  width: 100%;
}
section {
  flex-basis: 247px;
  flex-grow: 4;
}
aside {
  min-width:200px;
  flex-grow: 1;
}
