.green-block {
  height: 300px;
  background: #49b549;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.big-boy {
  margin: 0 auto;
  width: 300px;
}
a {
  color: #f5bdeeeb;
  margin: 20px 0;
}
p {
  font-weight: bold;
}
pre {
  display: inline-block;
}
table {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
