div {
  display: inline-block;
  width: 33%;
}
img {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 440px;
  object-fit: cover;
}

div:nth-child(2) img {
  border: 10px solid #ff00fc;
}

div:nth-child(3) img {
  box-shadow: 10px 10px #c71616, -10px -10px #7d9a07;
}

div:nth-child(4) img {
  border: 50px solid #40c4c8;
  border-image: url(https://sun9-72.userapi.com/c9708/u61729525/e_7ef2c454.jpg?ava=1) 50 round round;
  background-color: #f9e2b8;
  height: 350px;
}

.image {
	float: left;
	width: 50%;
	height: 220px;
  height: 440px;
	overflow: hidden;
}

.image--fake {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNb7-43dD6_FyX6us-8msF_GIacIOFf18U6lnIKACQu3LN47tk&usqp=CAU');
  background-size: cover;
  background-position: center;
}
